__pycache__
*.pyc
/data/faiss_index/
/data/product_faiss_index/
/data/enoxai.db
/data/products.json
logs/
venv/
.venv/
.env
/data/product_image_index_ids.pkl
/data/product_image_index_ids.pkl
/data/product_image_index.faiss